body {
    margin: 0;
    padding: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    background-color: black;
    border: 5px solid skyblue;
    box-shadow: 0 0 20px skyblue;
}
